.navbar_section {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 100;

    .menu_wrapper {
        padding: 5px;
        border-radius: 30px;
        transition: all 0.3s ease-out;

        .menu {
            --item-width: 120px;
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;

            li {
                border-radius: 24px;
                transition: all 0.3s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid transparent;
                width: var(--item-width);
                position: relative;
                z-index: 2;

                a {
                    padding: 8px 24px;
                    color: var(--c-white);
                    font-family: var(--f-link-1);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    text-transform: capitalize;
                    transition: all 0.3s ease-in-out;
                }

                .icon_box {
                    display: none;
                }

                &.active {
                    border: 1px solid var(--c-white);

                    a {
                        color: var(--c-dark);
                    }
                }

                &:hover {
                    border: 1px solid var(--c-white);
                }

                &,
                & * {
                    cursor: pointer;
                }
            }

            .selector {
                width: var(--item-width);
                height: 100%;
                border-radius: 24px;
                background-color: var(--c-white);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    &.nav_passed {
        transform: translateY(-50%);
        opacity: 0;
    }

    &.nav_sticky {
        position: sticky;
        top: 0;
        left: 0;
        transform: translateY(0);
        opacity: 1;

        .menu_wrapper {
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar_section {
        padding: 0;
        position: fixed;
        left: 0;
        top: auto;
        bottom: 0;
        transform: translateY(0);
        background: var(--c-dark-gray);

        .menu_wrapper {
            padding: 0;
            border-radius: 0;
            width: 100%;

            .menu {
                --item-width: calc(100% / 4);
                width: 100%;
                gap: 0;

                li {
                    // padding: 0px 10px;
                    border-radius: 0;

                    .text {
                        display: none;
                    }

                    .icon_box {
                        display: block;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &.active {
                        border: 1px solid transparent;

                        a {
                            color: var(--c-dark);
                        }
                    }

                    &:hover {
                        border: 1px solid transparent;
                    }

                    &,
                    & * {
                        cursor: pointer;
                    }
                }

                .selector {
                    width: var(--item-width);
                    height: 100%;
                    border-radius: 0;
                    background-color: var(--c-white);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}